
:root {
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-500: hsl(158, 36%, 20%);
    --clr-secondary-200: hsl(30, 38%, 92%);
  
    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);
  
    --ff-accent: "Fraunces", serif;
    --ff-base: "Montserrat", sans-serif;
  
    --fw-regular: 500;
    --fw-bold: 700;
  }
  

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1;
  }
  
  
  body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--clr-neutral-400);
    background-color: var(--clr-secondary-200);
    display: grid;
    place-content: center;
    margin: 1rem;
  }
    
  .flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    /*This is where he 
    would hide the clue: 
    but where would 
    Tim Berners-Lee
    hide it???
    */
    white-space: nowrap;
    width: 1px;
  }
  
  .button {
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
  
    border: 0;
    border-radius: 0.5rem;
    padding: 0.75em 1.5em;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: 0.925rem;
  }
  
  .button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 16px;
  }
  
  .button:is(:hover, :focus) {
    background-color: var(--clr-primary-500);
  }
  
  /* product styles */
  .product {
    --content-padding: 1.5rem;
    --content-spacing: 1rem;
  
    display: grid;
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;
  }
  
  @media (min-width: 600px) {
    .product {
      --content-padding: 2rem;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .product__content {
    display: grid;
    gap: var(--content-spacing);
    padding: var(--content-padding);
  }
  
  .product__category {
    font-size: 0.8125rem;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  
  .product__title {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-neutral-900);
  }
  
  .product__price {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-primary-400);
  }
/*
*, *::before, *::after {
    box-sizing: border-box;
} 

*{
    margin: 0; 
    padding: 0; 
    font: inherit;
} 

body {
    min-height: 100vh;
} 

img, picture, svg, video { 
    display: block; 
    max-width: 100%;
} 

html { 
    color-scheme: dark light;
}



body{
    background-color: hsl(30, 38%, 92%);
}

button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(30, 38%, 92%);
    border: none;
    border-radius: 10%;
}
h1 {
    letter-spacing: .5rem;
    position: relative;
    left: 05%;
    color: hsl(228, 12%, 48%);
    font-size: 100%;
    padding: 5%;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
}
h2 {
    font:Montserrat;
    position: relative;
    left: 10%;
    width: 66%;
    font-size: 2rem;
    line-height: 1.9rem;
    font-family:'Fraunces', serif;
}
h3 {
    position: relative;
    left: 10%;
    color: hsl(228, 12%, 48%);
    width: 75%;
    font-size: .875rem;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
}
h4{ 
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-family:'Fraunces', serif;
    margin: 0 0 2.5 0;
    position: relative;
    left: 4rem;
}
h5{
    text-decoration: line-through;
    font-size: .5rem;
    margin:0;
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    position: relative;
    left: 13rem;
    bottom: 5rem;
}

img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
  }
------------------------------

.btn{
    position: relative;
    margin: 0rem auto 10rem auto;
}

.parent {
    display: flex;
    justify-content: center;
}

.child-picture {
    display: flex;
}

.child-text {
    background-color: white;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
 visually hidden text
.visually-hidden:not(:focus):not(:active){
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
------------------------------

.picture {
    width: 25%;
    height: 75%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    position: absolute;
    left: 25%;
    top: 17.5%;
}

.text {
    background-color: white;
    width: 25%;
    height: 75%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    position: absolute;
    left: 50%;
    top: 17.5%;
}
*/